# This is Git's per-user configuration file.
[user]
	name = John Marks
	email = jmarks@covermymeds.com
	username = jrmarks11
[core]
	excludesfile = /Users/jmarks/.gitignore_global
[push]
	default = current
[hub]
	host = git.innova-partners.com
[alias]
  br = branch
  cam = commit -am
  ci = commit
  cm = commit -m
  co = checkout
  hs=log --pretty='format:%C(yellow)%h %Creset- %C(white)%s %C(bold blue)[%an]%Creset %Cgreen%cr' --graph
  s = status -s
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
