# This is Git's per-user configuration file.
[user]
	name = John Marks
	email = jmarks@covermymeds.com
	username = jrmarks11
[core]
	excludesfile = /Users/jmarks/.gitignore_global
[push]
	default = current
[hub]
	host = git.innova-partners.com
[alias]
  s = status -s
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
