[submodule "vim/.vim/bundle/vim-autoformat"]
	path = vim/.vim/plugged/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/plugged/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.vim/molokai"]
	path = vim/.vim/plugged/molokai/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "vim/.vim/vim-plug"]
	path = vim/.vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "vim/.vim/plugged/fzf.vim"]
	path = vim/.vim/plugged/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/plugged/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = vim/.vim/plugged/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/plugged/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/plugged/fzf"]
	path = vim/.vim/plugged/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim/.vim/plugged/jellybeans.vim"]
	path = vim/.vim/plugged/jellybeans.vim
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "vim/.vim/plugged/onedark.vim"]
	path = vim/.vim/plugged/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "vim/.vim/plugged/seoul256.vim"]
	path = vim/.vim/plugged/seoul256.vim
	url = git@github.com:junegunn/seoul256.vim.git
[submodule "vim/.vim/plugged/bubblegum"]
	path = vim/.vim/plugged/bubblegum
	url = git@github.com:baskerville/bubblegum.git
