[submodule "vim/.vim/vim-plug"]
	path = vim/.vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "vim/.vim/plugged/fzf.vim"]
	path = vim/.vim/plugged/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/plugged/vim-surround"]
	path = vim/.vim/plugged/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/plugged/vim-commentary"]
	path = vim/.vim/plugged/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/plugged/fzf"]
	path = vim/.vim/plugged/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim/.vim/plugged/vim-elixir"]
	path = vim/.vim/plugged/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "vim/.vim/plugged/vim-easy-align"]
	path = vim/.vim/plugged/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "vim/.vim/plugged/vim-endwise"]
	path = vim/.vim/plugged/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "vim/.vim/plugged/vim-fugitive"]
	path = vim/.vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/plugged/vim-rails"]
	path = vim/.vim/plugged/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/.vim/plugged/splitjoin.vim"]
	path = vim/.vim/plugged/splitjoin.vim
	url = git@github.com:AndrewRadev/splitjoin.vim.git
[submodule "vim/.vim/plugged/vim-unimpaired"]
	path = vim/.vim/plugged/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/plugged/vim-repeat"]
	path = vim/.vim/plugged/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim/.vim/plugged/vim-settings"]
	path = vim/.vim/plugged/vim-settings
	url = git@github.com:jrmarks11/vim-settings.git
[submodule "vim/.vim/plugged/vim-dracula"]
	path = vim/.vim/plugged/vim-dracula
	url = https://github.com/crusoexia/vim-dracula.git
[submodule "vim/.vim/plugged/vim-textobj-user"]
	path = vim/.vim/plugged/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "vim/.vim/plugged/vim-textobj-indent"]
	path = vim/.vim/plugged/vim-textobj-indent
	url = git@github.com:kana/vim-textobj-indent.git
[submodule "vim/.vim/plugged/vim-textobj-line"]
	path = vim/.vim/plugged/vim-textobj-line
	url = git@github.com:kana/vim-textobj-line.git
[submodule "vim/.vim/plugged/vim-textobj-rubyblock"]
	path = vim/.vim/plugged/vim-textobj-rubyblock
	url = git@github.com:nelstrom/vim-textobj-rubyblock.git
[submodule "vim/.vim/plugged/vim-textobj-variable-segment"]
	path = vim/.vim/plugged/vim-textobj-variable-segment
	url = git@github.com:Julian/vim-textobj-variable-segment.git
[submodule "vim/.vim/plugged/vim-angry"]
	path = vim/.vim/plugged/vim-angry
	url = git@github.com:b4winckler/vim-angry.git
[submodule "vim/.vim/plugged/vim-visual-star-search"]
	path = vim/.vim/plugged/vim-visual-star-search
	url = git@github.com:nelstrom/vim-visual-star-search.git
[submodule "vim/.vim/plugged/vim-rsi"]
	path = vim/.vim/plugged/vim-rsi
	url = git@github.com:tpope/vim-rsi.git
[submodule "vim/.vim/plugged/goyo.vim"]
	path = vim/.vim/plugged/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "vim/.vim/plugged/limelight.vim"]
	path = vim/.vim/plugged/limelight.vim
	url = git@github.com:junegunn/limelight.vim.git
[submodule "vim/.vim/plugged/vim-gutentags"]
	path = vim/.vim/plugged/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/plugged/papercolor-theme"]
	path = vim/.vim/plugged/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/.vim/plugged/vim-colors"]
	path = vim/.vim/plugged/vim-colors
	url = git@github.com:jrmarks11/vim-colors.git
[submodule "vim/.vim/plugged/vim-commands"]
	path = vim/.vim/plugged/vim-commands
	url = git@github.com:jrmarks11/vim-commands.git
[submodule "vim/.vim/plugged/vim-orgmode"]
	path = vim/.vim/plugged/vim-orgmode
	url = git@github.com:jceb/vim-orgmode.git
