[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/vim-autoformat"]
	path = vim/.vim/bundle/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.vim/vim-pathogen"]
	path = vim/.vim/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/.vim/molokai"]
	path = vim/.vim/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "vim/.vim/vim-plug"]
	path = vim/.vim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "vim/.vim/plugged/fzf.vim"]
  path = vim/.vim/plugged/fzf.vim
  url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/bundle/vim-easymotion"]
	path = vim/.vim/bundle/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
